.bookCard {
    background: rgb(217 217 217);
    min-height: 70vh;
}

.bookCard__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    position: relative;
}

.bookCard__img-container {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 80vw; */
}

.bookCard__img {
    height: 40vh;
}
.bookCard__details{
    width: 100%;
    overflow: hidden;
}
.property__book-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: -0.01em;
    color: rgb(79, 98, 118);
}

.property__book {
    padding: 5px 0; 
    
}
.property__book-link{
    text-decoration: none;
    
}

.data {
    color: orangered;
    font-weight: bold;
    overflow-y: scroll;
}

.synopsis {
    overflow-y: scroll;
    height: 50vh;
}


@media screen and (min-width: 768px) {

    /* .bookCard__img-container {
        justify-content: flex-start;
    } */
    .bookCard__container{
        flex-direction: row;
        justify-content: space-around;
    }

    .bookCard__details{
        width:55%;
        overflow: hidden;
    }
    
}