.bookCard {
  background: var(--color-light-secondary);
  position: relative;
  height: 90vh;
}

.bookCard__container {
  display: flex;
  padding: 10rem 0rem 3rem;
  overflow-wrap: anywhere;
}

.bookCard__img-container {
  flex: auto;
  justify-content: center;
  align-items: center;
  display: flex;
}

.bookCard__details {
  flex: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 600px;
  overflow-wrap: anywhere;
}

.bookCard__details p {
  padding: 1rem 0rem;
  justify-content: center;
}

.bookCard__img {
  width: 100%;
  max-width: 240px;
}

.property__book-title {
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 1.7rem;
  padding: 0rem 0rem 1rem;
  color: var(--color-dark-primary);
  justify-content: flex-start;
}

.property__book {
  padding: 5px 0;
  justify-content: flex-start;
}
.property__book a {
  text-decoration: none;
  color: var(--color-dark-secondary);
  font-weight: 700;
}

.data {
  color: orangered;
  font-weight: bold;
}

.synopsis {
  overflow-y: scroll;
  height: 50vh;
}

.button__back {
  border-radius: 3px;
  align-self: center;
  background-color: var(--button-bg);
  color: var(--color-light-primary);
  font-weight: 700;
  margin: 1rem;
  padding: 1rem;
  font-size: 1rem;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.button__back a {
  color: var(--color-light-primary);
}

a {
  text-decoration: none;
}

.button__back:hover {
  opacity: 0.5;
}

@media screen and (max-width: 767px) {
  .bookCard__container {
    flex-direction: column;
    align-items: center;
    padding: 10rem 0rem 0rem;
  }

  .bookCard__details p,
  a {
    padding: 1rem 2rem;
    display: flex;
    justify-content: center;
  }
  .bookCard {
    background: var(--color-light-secondary);
    position: relative;
    height: auto;
  }
  .bookCard__btn__back__container {
    padding: 1rem 0rem;
  }
}
