.form{
    width: 100vw;
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.form__input-section, .form__textarea-section {
    margin: 10px;
}

.form__btn {
    margin: 0 0 20px 10px;
}

.form__input-error {
    margin: 0 0 10px 10px;
    color: var(--font-red);
}