.foot-cont{
    background-color: rgb(117, 116, 116);
    display: flex;
    width: 100vw;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
}

.foot-text{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    align-items: center;
    text-decoration: none;
    color: rgb(255 255 255);
    font-size: .8rem;
}

.foot-text a{
    text-decoration: none;
    color: white;

}
.foot-logo{
    width: 36%;

}

.avalith__link {
    text-decoration: none;
    display: flex;
}

.avalith {
    font-weight: 600;
    font-style: italic;
    color: var(--font-black);
    font-size: 1.5rem;
}

.punto{
    color: var(--font-red);
    font-size: 1.3rem;
}

@media screen and (min-width: 768px) {
    .foot-text {
        font-size: 1.3rem;
    }
}
