.navbar__container {
    display: flex;
    align-content: center;
    justify-content: center;
    width: 100vw;
    background: none;
    height: 20vh;
}

.navbar__item {
    display: flex;
    align-items: center;
    width: 90vw;
    justify-content: space-around;
}

.navbar__item-logo-img {
    width: 50px;
}

.navbar__links {
    display: flex;
    align-items: center;
    width: 90vw;
    justify-content: space-evenly;
    flex-direction: column;
}

.navbar__item-btn-login-mobil, .navbar__item-btn-login {
    display: flex;
    align-items: center;
    text-decoration: none;
    margin: 10px 0;
    color: var(--font-grey);
    width: 60px;
    justify-content: space-around;
}

.navbar__item-btn-login {
    display: none;
}

.navbar__item-search-container{
    display: flex;
    align-items: center;
}

.navbar__item-search-input {
    padding: 0.6rem;
    border: 0.1px solid gray;
    border-radius: 15px 0 0 15px;
}

.navbar__item-btn-search {
    color: white;
    border-radius: 0 10px 10px 0;
    background: gray;
    padding: 0.5rem;
}

.navbar__item-btn-search:hover {
    cursor: pointer;
}

.avalith__link {
    display: none;
}


@media screen and (min-width: 768px) {

    .navbar__container{
        height: 10vh;
    }

    .navbar__item {
        width: auto;
    }

    .navbar__links {
        flex-direction: row;
        justify-content: space-between;
    }

    .navbar__item-btn-login {
        display: flex;
    }
    .navbar__item-btn-login:hover {
        color: gray;
    }

    .navbar__item-btn-login-mobil{
        display: none;
    }

    .avalith__link {
        text-decoration: none;
        display: flex;
    }
    
    .avalith {
        font-weight: 600;
        font-style: italic;
        color: var(--font-black);
        font-size: 1.5rem;
    }
    
    .punto{
        color: var(--font-red);
        font-size: 1.3rem;
    }

}