* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

@media (max-width: 750px) {
  body {
    grid-template-rows: 5rem 1fr 3rem;
    padding: 1.5rem 0.5rem;
  }

  .btn-container {
    flex-direction: column;
    gap: 1.5rem;
  }

  header {
    align-items: center;
    gap: 0rem;
  }

  header h1 {
    font-size: 2rem;
    text-align: center;
  }

  header h2 {
    font-size: 2rem;
  }
}

/* Overrides - Reemplazo de estilos para componentes nativos */

input,
textarea {
  background-color: rgba(34, 26, 43, 0.5);
  color: #333333;
  font-size: 1rem;
  padding: 0.45rem;
  border: none;
  border-bottom: 2px solid rgb(164, 115, 255);
  border-radius: 0.5rem;
}
