.welcome-cont{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../assets/welcome-bg-3.jpg);
    width: 100%;
    background-size: cover;
    height: 70vh;
}

.welc-text{
    color: white;
}
.welc-text h1{
    font-size: 2rem;
}
span{
    color: orangered;
}
.welc-text p{
    font-size: 1.5rem;
}
.welc-btn{
    background-color: orangered;
    color: white;
    padding: 2%;
    font-size: 1.5rem;
    text-decoration: none;
}
.welc-btn:hover{
    background-color: white;
    color: orangered;
    transition: all .5s ease-in-out;
}

@media screen and (min-width: 768px) {
    .welcome-cont {
        height: 80vh;
    }
}