@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}
.home__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem 1rem;
}
.home__firstSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__secondSection {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__title {
  color: var(--color-dark-primary);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 300;
  padding: 3rem 0rem 0rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 5;
}

.home__image {
  flex: 5;
}

.home__image img {
  max-width: 550px;
  width: 100%;
  min-width: 320px;
  padding: 3rem 0rem;
}

.home__paragraph {
  color: var(--color-dark-secondary);
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 400;
  padding: 2rem 0rem;
  flex: 5;
}
.home__container__btn {
  display: flex;
  justify-content: center;
}
.home__btn {
  background-color: var(--button-bg);
  justify-content: center;

  text-decoration: none;
  font-weight: 700;
  padding: 0.8rem 1.5rem;
  font-size: 1rem;
  border: none;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.home__btn a {
  color: var(--color-light-primary);
  text-decoration: none;
}

.home__btn:hover {
  background-color: var(--color-light-primary);
  border: 1px solid var(--button-bg);
  transform: scale(1.1);
}

.home__btn a:hover {
  color: var(--button-bg);
}

@media (max-width: 600px) {
  .home__wrapper {
    width: 100%;
  }
  .home__firstSection {
    display: flex;
    flex-direction: column;
  }

  .home__title {
    color: var(--color-dark-primary);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 300;
    padding: 3rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__paragraph img {
    width: 100%;
    max-width: 750px;
  }

  .home__paragraph {
    color: var(--color-dark-secondary);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__image img {
    padding-top: 3rem;
  }
}

@media (max-width: 340px) {
  .home__title {
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 300;
    padding: 3rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__paragraph img {
    width: 100%;
    max-width: 750px;
  }

  .home__paragraph {
    color: var(--color-dark-secondary);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
