@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

.wrapper {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  padding: 3rem 2rem;
}

@media (max-width: 600px) {
  .home__wrapper {
    width: 100%;
    background-color: var(--color-light-secondary);
  }
  .home__firstSection {
    display: flex;
    flex-direction: column;
  }

  .home__title {
    color: var(--color-dark-primary);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 300;
    padding: 3rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__paragraph img {
    width: 100%;
    max-width: 750px;
  }

  .home__paragraph {
    color: var(--color-dark-secondary);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (max-width: 1200px) {
  .home__wrapper {
    width: 100%;
  }
  .home__firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .home__title {
    color: var(--color-dark-primary);
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 300;
    padding: 3rem 0rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .home__title img {
    max-width: 300px;
    padding: 2rem 0rem 0rem;
  }

  .home__paragraph {
    color: var(--color-dark-secondary);
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: 400;
    padding: 3rem 0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}
