@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700;1,900&display=swap");

.home__title {
  color: var(--color-dark-primary);
  font-size: 3rem;
  line-height: 3rem;
  font-weight: 300;
}

.home__image {
  max-width: 300px;
}
