.wrapper__createBook {
  width: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/welcome-bg-3.jpg);
  background-size: cover;
}
.container__createBook {
  display: flex;
  flex-direction: column;
  padding: 10rem 0rem 6rem;
  align-items: center;
}

.form__titulo p {
  font-size: 1.7rem;
  line-height: 1.7rem;
  padding-bottom: 1rem;
  color: #fff;
  display: flex;
  font-weight: 400;
}

.form__container {
  background-color: var(--color-light-secondary);
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 14px;
  align-items: flex-start;
  padding: 2rem;
  max-width: 380px;
  box-sizing: border-box;
  color: #fff;
  box-shadow: 0 1px 88px rgb(0 0 0 / 65%);
}

.form__input-label {
  width: 100%;
  font-size: 14px;
  line-height: 18px;
  display: block;
  margin: 0.5rem 0rem 0.5rem;
  color: var(--color-dark-primary);
}

.form__input-section input {
  height: 33px;
  width: 100%;
  box-sizing: border-box;
  border: solid 1px #b4b4b4;
  background: #f5f2f2;
  padding: 0 9px;
  font-size: 14px;
  color: #000;
  outline: none;
}

.form__input-section {
  width: 290px;
}

.form__btn {
  border-radius: 3px;
  background-color: var(--button-bg);
  color: var(--color-light-primary);
  font-weight: 700;
  margin: 1rem 0rem 0rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.form__btn a {
  color: var(--color-light-primary);
}

a {
  text-decoration: none;
}

.form__btn:hover {
  opacity: 0.5;
}

.form__input-error {
  color: var(--font-red);
  font-weight: bold;
  margin: 0 0 5px 5px;
}

@media screen and (max-width: 380px) {
  .form__container {
    max-width: 300px;
  }

  .form__input-section {
    width: 240px;
  }

  .form__titulo-detalle {
    text-align: center;
  }
}
