.searchbar__item-search-container {
    align-items: center;
    display: flex;
  }
  
  .searchbar__item-search-input {
    border: 0.1px solid gray;
    border-radius: 15px 0 0 15px;
    padding: 0.6rem;
  }
  
  .searchbar__item-btn-search {
    background: gray;
    border-radius: 0 10px 10px 0;
    color: white;
    padding: 0.5rem;
  }
  
  .searchbar__item-btn-search:hover {
    cursor: pointer;
  }