.dashboard {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../assets/images/welcome-bg-3.jpg);
  background-size: cover;
  background-attachment: fixed;
  margin-top: 6rem;
  padding: 0;
}
.dashboard-text {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-light-secondary);
}
.dashboard-text h2 {
  color: var(--color-dark-primary);
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 2rem;
  padding: 1rem 0rem;
}

.book__card {
  background-color: var(--color-light-secondary);
  width: 320px;
  margin: 1rem;
  height: auto;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease-in-out;
}

.book__card h3 {
  color: var(--color-dark-primary);
  font-size: 1.3rem;
  line-height: 1.4rem;
  text-align: center;
  padding: 0.5rem;
}

.book__card p {
  color: var(--color-dark-primary);
  font-size: 1rem;
  line-height: 1.1rem;
  text-align: center;
  padding: 0.5rem;
  justify-content: flex-start;
}

.book__card img {
  width: 100%;
  max-width: 280px;
  max-height: 420px;
}

.dashboard-cont {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 1rem;
}

.book__card:hover {
  transform: scale(1.01);
}

.button__add {
  border-radius: 3px;
  align-self: center;
  background-color: var(--color-light-primary);
  color: var(--button-bg);
  border: none;
  font-weight: 700;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  transition: 0.3s;
  cursor: pointer;
}
.button__add a {
  color: var(--button-bg);
}

.button__add:hover {
  transform: scale(1.1);
  color: var(--button-bg);
}

.buttons__cards__container {
  display: flex;
  padding: 0.5rem;
}

.button__card {
  border-radius: 3px;
  align-self: center;
  background-color: var(--button-bg);
  color: var(--color-light-primary);
  font-weight: 700;
  margin: 0.5rem;
  padding: 0.5rem;
  font-size: 1rem;
  border: none;
  transition: 0.3s;
  cursor: pointer;
}

.button__card a {
  color: var(--color-light-primary);
}

a {
  text-decoration: none;
}

.button__card :hover {
  opacity: 0.5;
}

@media screen and (max-width: 320px) {
}
