.foot-cont {
  background-color: var(--color-light-secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3rem;
  padding: 3rem 2rem;
}

.foot-text {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  text-decoration: none;
  color: var(--color-dark-secondary);
  font-size: 1rem;
  font-weight: 700;
}

.footer__text a {
  text-decoration: none;
  transition: 0.3s;
  cursor: pointer;
  color: var(--color-dark-secondary);
}

.footer__text a:hover {
  opacity: 0.5;
}

.foot-logo {
  width: 36%;
}

.avalith__logo {
  text-decoration: none;
  display: flex;
}

.avalith__logo img {
  max-width: 130px;
}

.footer__avalith {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 768px) {
  .footer__avalith {
    display: flex;
    flex-direction: column;
  }
  .foot-text {
    display: flex;
    flex-direction: column;
    color: var(--color-dark-secondary);
    font-size: 1rem;
    justify-content: center;
    text-align: center;
  }
  .avalith__logo {
    padding: 0.5rem;
  }
  .foot-cont {
    padding: 4rem 0rem;
  }
}
